.generator--container {
    padding-top: 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.generator--container * {
    margin-block: 0.3rem;
}

.form--buttons {
    display: flex;
    justify-content: center;
}

.avatar--image {
    width: 15.625rem;
    height: 15.625rem;
    opacity: 0.95;
    margin-bottom: 1rem;
}

.avatarName--input {
    color: #383838;
    font-size: 1rem;
    margin-inline: 2rem;
    padding-inline: 0.5rem;
    width: 15.625rem;
    text-align: center;
    padding-block: 0.5rem;
}

.form-button {
    font-size: 1.1rem;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border-radius: 50%;
    margin-top: 1rem;
}

.heart--button {
    color: #ED4956;
}

.button:hover {
    cursor: pointer;
}

.fa-heart {
    text-shadow: 0.063rem 0.063rem 0.063rem black;
}

.error {
    background-color: #ffc7c7;
    border: 0.063rem solid #ff7878;
    border-radius: 0.313rem;
    font-size: 0.875rem;
    margin: 0.625rem 0;
    padding: 0.625rem;
  }